<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'index'}}active{{/ifCond}}" href="/restaurants">All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'feeds'}}active{{/ifCond}}" href="/restaurants/feeds">News Feeds</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'topUsers'}}active{{/ifCond}}" href="/users/top">Hot Foodie</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#ifCond route 'topRestaurants'}}active{{/ifCond}}" href="/restaurants/top">Top 10 Restaurants</a>
  </li>
</ul>